# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
#*.tfplan

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db